{% extends "ProyectoRefugioApp/base.html" %}

{% load static %}

{% block content %}

	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<h3>
						¿Quiénes somos?
					</h3>
					<p>
						Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos Descripcion de quienes somos 
					</p>
				</div>
				<div class="col-md-6">
					<img alt="somos" style="width:250px;height:250px;" src="{% static 'ProyectoRefugioApp/images/somos.jpg' %}">

				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6">
					<h3>
						Historia
					</h3>
					<p>
						Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS Historia de SIRIUS 
					</p>
				</div>
				<div class="col-md-6">
				<img alt="historia" style="width:250px;height:345px;" src="{% static 'ProyectoRefugioApp/images/historia.jpg' %}">
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6">
					<h3>
						Nuestra ubicación.
					</h3>
					<dl>
						<dt>
							Nos ubicamos en
						</dt>
						<dd>
							Lugar de ubicación Lugar de ubicación Lugar de ubicación Lugar de ubicación
						</dd>
						<dt>
							Voluntarios
						</dt>
						<dd>
							Los días X, X voluntarios llegan a lugar en donde tenemos a nuestros animales rescatados ......
						</dd>
				
						<dt>
							En tu visita puedes aportar tu granito de arena:
						</dt>
						<dd>
							<li>Comida para perros</li>
							<li>Sabanas o toallas</li>
							<li>...</li>
							<li>...</li>

						</dd>
						<dt>
							Ellos estaran felices de tu visita!
						</dt>
						<dd>
							Todos nuestros animales rescatados siempre estarán agradecidos que los puedas visitar...
						</dd>
					</dl>
				</div>
				<div class="col-md-6">
					<img alt="estamos" style="width:399px;height:249px;" src="{% static 'ProyectoRefugioApp/images/estamos.jpg' %}">
				</div>
			</div>
		</div>
	</div>
<br><br>

{% endblock %}