{% extends "ProyectoRefugioApp/base.html" %}

{% load static %}

{% block content %}



<div class="container-fluid">
	<div class="row">
		<div class="col-md-12" align="center">
			<h3 align="center" >
				<strong>Dia internacional del Perro</strong>
			</h3>
			<br>
			<img alt="Bootstrap Image Preview" style="width:250px;height:250px;" src="images/diaperro.jpg" />
			<br><br>
			
		</div>


		<div class="row">
				<div class="col-md-2">
				</div>
				<div class="col-md-8">
					
<p>
			

				Este 21 de julio se celebra el <strong>Día Mundial del Perro</strong>, una festividad que rinde honor al animal que es considerado "el mejor amigo del hombre". A pesar de esta "mejor amistad", datos de la Organización Mundial de la Salud (OMS) indican que el 70% de los perros en el mundo no tienen un hogar.

				El 21 de julio no es la única fecha que celebra a los caninos. Existen otras conmemoraciones como el <strong>Día Internacional del Perro Callejero</strong>, el 27 de julio, y cuya finalidad es tomar conciencia del abandono animal.

				En otras fechas como el 28 de mayo se conmemora el <strong>Día del Perro Sin Raza</strong>; el 23 de septiembre el Día del Perro Adoptado; el 6 de diciembre el Día del Perro de Trabajo; e incluso existe el <strong>Día de llevar al Perro a la Oficina</strong>, iniciativa del Reino Unido en 1996 y la cual se da cada 22 de junio.
			</p>
			<p>
				<strong>¿Por qué el 21 de julio es el Día Mundial del Perro?</strong>

				No hay una explicación clara del origen y la elección de esta fecha. Algunos aseguran que esta fecha fue elegida debido a que en julio, mes de vacaciones para muchos, las familias suelen abandonar a sus canes. Por lo anterior el Día Mundial del Perro busca reflexionar sobre el abandono y maltrato animal.
			</p>

				</div>
				<div class="col-md-2">
				</div>
			</div>
	</div>
</div>

<br><br>

{% endblock %}